page-category {
  div.scroll-content{
    padding : 0px !important;
    background: #f7f7f7 !important;

  }
  div.categoryHeader{
    padding-top: 7% ;
    padding-bottom: 5% ;
    border-bottom: 1px solid #ddd;
    background: #fff !important;
    font-size: 20pt !important;
  }
  ion-list{
    margin : 0px !important;
  }
  h1{
    text-decoration: none;
  }
  span.button-inner{
    color: white;
  }
  ion-list button{
    border-bottom: 1px solid #ddd !important;
    font-size: 15pt !important;
    background: #f7f7f7 !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
  }

  ion-icon.especialidade{
    color:rgb(235, 235, 0);
  }

  ion-icon.terapia{
    color:rgb(0, 202, 84);
  }




}
